@import "../../../shared/styles/variables.scss";

.login-box {
    margin: 100px auto 25px;
}
.login-container {
    width: 300px;
    height: 300px;
    border: 1px solid grey;
}

label {
    color: $input-color;
}

.btn-login {
    width: 100%;
    cursor: pointer;
}

.logo img {
width: 100px;
height: 100px;
transform: translate(-74px, 75px);
}