@import "../../shared/styles/variables.scss";

.header {
    height: $header-height;
    box-sizing: border-box;
    background-color: #f5f6f7;
    box-shadow: 0px 1px 3px #333;
    padding: 0px;
}

.header-container {
    max-width: 1230px;
    margin-left: auto;
    margin-right: auto;
    padding-left: 30px;
    padding-right: 30px;
}

// @media only screen and (max-width: 1130px) and (min-width: 981px) {

// }
nav ul{
    list-style-type: none;
    padding: 0;
}
nav a{
    text-decoration: none;
    display: block;
    padding: 8px;
}

@media only screen and (min-width: 1230px) {
    nav ul{
        display: flex;
        justify-content: space-between;
    }

    nav li {
        //flex: 1 1 0;
    }
}

.item {
    display: inline-block!important;
    padding: 0 25px;
    color: #4d4f52;
    text-transform: uppercase;
    font: 600 15px/40px Metric,Arial,Helvetica,sans-serif;

}
.item:focus, .item:hover {
    cursor: pointer;
    color: #3195c1;
    border-bottom: 3px solid transparent;
    border-bottom-color: #3195c1;
}
.item:focus::before, .item:hover::before {
   
}

.item-button {
    display: inline-block!important;
    padding: 0 25px;
    color: #4d4f52;
    background: #75dbff;
    border: none;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    vertical-align: middle;
    text-transform: uppercase;
    font: 600 15px/40px Metric,Arial,Helvetica,sans-serif;
}


.item-button:focus, .item-button:hover {
    cursor: pointer;
    color: #000;
    background: #32caff;
}



.logo {
    flex: 20%;
    display: flex;
    align-items: center;
    justify-content: center;
    height: inherit;
}

.logo img {
    height: inherit;
    flex-basis: 100px;
    display: flex;
    justify-content: center;
}

.header-toolbar {
    flex: 80%;
    display: flex;
    height: inherit;
}

// .language-toolbar {
//     flex: 60%;
//     display: flex;
//     justify-content: flex-end;
//     height: inherit;
// }

.user-toolbar {
    flex: 1 1 0;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    height: inherit;
}