@import "../../shared/styles/variables.scss";
.main-wrapper {
    display: flex;
    flex-direction: row;
    align-items: stretch;
    align-content: stretch;
    height: calc(100vh - 60px);
}

app-sidebar {
    flex: 0 1;
    display: flex;
    width: 60px;
    height: inherit;
    transition: flex 0.5s;
  }
  .sidebar {
    flex: 0 1 30rem;
    display: flex;
    box-shadow: -1px 1px 2px rgba(0, 0, 0, 0.9);
  }

  app-content {
    height: inherit;
    flex: 1;
    z-index: 1;  
    overflow: auto;
  }

 