@import "../../shared/styles/variables.scss";
.sidebar {
    height: inherit;
    flex: 1;
    display: flex;
    flex-wrap: wrap;
    flex-flow: row;
}

.sidebar a {
    flex: 1;
}
.menu {}

.menu-logo {
    flex: 1;
    display: flex;
    height: 40px;
    background: #31AF91;
    cursor: pointer;
    justify-content: flex-end; 
    // border-bottom: 1px solid grey;
    // border-style: inset;
    // box-shadow: -1px 1px 2px #31AF91;
}

.menu-items {
  
}
.menu-item {
    flex: 1;
    display: flex;
    background: #31AF91;
    justify-content: center;
    // border-bottom: 1px solid $input-color;
    // box-shadow: 0px 3px 2px #31AF91;
    cursor: pointer;
}

.menu-item span {
    font-size: 18px;
    font-family:  "Trebuchet MS", Helvetica, sans-serif;
    color: #fff;
}



.menu img {
    width: 40px;
    height: 40px;
    background: none;
}