<div class="sidebar">
  <!-- <a routerLink="/admin" routerLinkActive="active">
    <span class="menu-item">Admin</span>
  </a> -->

  <a class="menu">
    <div class="menu-logo">
      <img src="../../../assets/images/menu.png" (click)="handleMenu()">
    </div>
    <div class="menu-items" *ngIf="clicked">
      <a class="menu-item" *ngFor="let item of items" (click)="handleNavigate(item)">
        <span>{{item}}</span>
      </a>
    </div>
  </a>
</div>

<app-sidebar-menu *ngIf="clickedSubMenu" [class.sidebar-menu]="true" [subMenuDetails]="item">
</app-sidebar-menu>


<!-- <div class="subMenu-items" *ngIf="selectedItem == 'Admin'">
  <a class="subMenu-item" *ngFor="let item of admin">
    {{item}}
  </a>
</div> -->